/* $Id: $ */
@charset "UTF-8";

@font-face {
	font-family: 'Bentham';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url('/assets/fonts/Bentham-Regular.ttf') format('truetype');
}

.contact-container body, .contact-container div, .contact-container span, .contact-container applet, .contact-container object, .contact-container iframe, .contact-container h1, .contact-container h2, .contact-container h3, .contact-container h4, .contact-container h5, .contact-container h6, .contact-container p, .contact-container blockquote, .contact-container pre, .contact-container a, .contact-container abbr, .contact-container acronym, .contact-container address, .contact-container big, .contact-container cite, .contact-container code, .contact-container del, .contact-container dfn, .contact-container em, .contact-container img, .contact-container ins, .contact-container kbd, .contact-container q, .contact-container s, .contact-container samp, .contact-container small, .contact-container strike, .contact-container strong, .contact-container sub, .contact-container sup, .contact-container tt, .contact-container var, .contact-container b, .contact-container u, .contact-container i, .contact-container center, .contact-container dl, .contact-container dt, .contact-container dd, .contact-container ol, .contact-container ul, .contact-container li, .contact-container fieldset, .contact-container form, .contact-container label, .contact-container legend, .contact-container caption, .contact-container article, .contact-container aside, .contact-container canvas, .contact-container details, .contact-container embed, .contact-container figure, .contact-container figcaption, .contact-container footer, .contact-container header, .contact-container hgroup, .contact-container menu, .contact-container nav, .contact-container output, .contact-container ruby, .contact-container section, .contact-container summary, .contact-container time, .contact-container mark, .contact-container audio, .contact-container video {
	margin: 0;
	padding: 0;
	border: 0;
	font: 'Bentham',
		Georgia,
		'Times New Roman',
		serif;
	vertical-align: baseline;
}

.contact-container body {
	background-attachment: fixed;
	color: #444444;
	font: 75%/1.3 'Bentham', Georgia, 'Times New Roman', serif;
	margin: 0 auto;
}

.contact-container input, .contact-container input[type="text"], .contact-container input[type="search"], .contact-container isindex, .contact-container textarea, .contact-container button {
	outline:none;
	margin:0 auto;
	padding:5px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Bentham', Georgia, 'Times New Roman', serif;
}

.contact-container img, .contact-container a {
	border:0px;
	outline:none;
	color:#3a6cae;
	text-decoration:none;
}
.contact-container img, .contact-container a:hover {
	text-decoration:underline;
}
.contact-container .zf-flLeft {
	float:left;
}
.contact-container .zf-flRight {
	float:right;
}
.contact-container .zf-clearBoth {
	clear:both;
}
.contact-container ol, .contact-container ul {
	list-style: none outside none;
}
.contact-container .zf-normalText {
	font-size:16px;
	line-height:1.5;
}
.contact-container .zf-smallText {
	font-size:0.9em;
	font-weight:normal;
}
.contact-container .zf-smallHeading {
	font-size:20px;
}
.contact-container .zf-heading {
	font-size:2em;
}
.contact-container .zf-subHeading {
	font-size:1.5em;
}
.contact-container .zf-boldText, .contact-container .zf-boldText a {
	font-weight:bold;
	text-decoration:none;
}
.contact-container .zf-italicText {
	font-style:italic;
}
.contact-container .zf-heading a {
	text-decoration:underline;
}
.contact-container .zf-heading a:hover {
	text-decoration:none;
}
.contact-container .zf-blodText {
	font-weight:bold;
}
.contact-container .zf-overAuto {
	overflow:auto;
}
.contact-container .zf-split {
	color: #8B9193;
	padding: 0 3px;
}

.contact-container .zf-backgroundBg {
	background:#f5f5f5;
}

.contact-container .zf-templateWidth {
	margin:1% auto;	
}

.contact-container .zf-templateWidth { 
	width:800px;
	}

.contact-container .zf-templateWrapper {
	background:#fff;
	border:1px solid #d6d6d6;
	-webkit-box-shadow: 0 0px 3px #E1E1E1;
	-moz-box-shadow: 0 0px 3px #E1E1E1;
	box-shadow: 0 0px 3px #E1E1E1;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.contact-container .zf-tempContDiv input[type="text"], .contact-container .zf-tempContDiv textarea, .contact-container .zf-tempContDiv .zf-pdfTextArea {
	background:#fff;	
	border:1px solid #e5e5e5;	
	-webkit-border-radius:2px; 	
	-moz-border-radius:2px;	
	border-radius:2px;	
	padding:5px;
	font-size:16px;
	text-align: left !important;	
}

.contact-container .zf-tempContDiv input[type="text"]:hover, .contact-container .zf-tempContDiv textarea:hover{	
	border:1px solid rgba(157, 157, 157, 0.75) !important;	
	}	
.contact-container .zf-tempContDiv input[type="text"]:focus, .contact-container .zf-tempContDiv textarea:focus{	
	border:1px solid rgba(121, 187, 238, 0.75) !important;	
	-webkit-box-shadow:0 0 5px rgba(82, 168, 236, 0.5) !important;	
	-moz-box-shadow:0 0 5px rgba(82, 168, 236, 0.5) !important;	
	box-shadow:0 0 5px rgba(82, 168, 236, 0.5) !important;	
	}
	
.contact-container .zf-tempContDiv textarea {
	height:75px;
}
.contact-container .arrangeAddress .zf-addrCont  span.zf-addtwo{ width: 99% !important;float: none !important;} 		
/**********Error Message***********/	
.contact-container .zf-errorMessage {
	font:12px 'Bentham',
		Georgia,
		'Times New Roman',
		serif;
	color:#ff0000;
	padding-top:5px;
}

/**********Mandatory Message***********/	
.contact-container .zf-important {
	color:#ff0000 !important;
	font-weight: normal;
	margin-left:0px;
	padding: 0;
	font-size:16px !important;
}

/**********instruction Message***********/
.contact-container .zf-instruction {
	color:#939393;
	margin-top:3px;
	font-size:14px;
	word-break: normal;
	overflow-wrap: break-word;
	margin-bottom: 3px;
}	

.contact-container .zf-symbols {
	padding:0 5px;
}

.contact-container .zf-overflow{ overflow:hidden;}

/*****************template Header Starts Here****************/

.contact-container .zf-tempHeadBdr {
	margin:0;
	padding:0;
	overflow:hidden;
}

.contact-container .zf-tempHeadContBdr {
	background: white;
	margin: 0;
	padding:10px 25px;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
.contact-container .zf-tempHeadContBdr .zf-frmTitle {
	color: #b30000;
	margin: 0;
	padding: 0;
	font-size:2em;
}
.contact-container .zf-tempHeadContBdr .zf-frmDesc {
	color: black;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/****************template Header Ends Here****************/


.contact-container .zf-subContWrap {
	padding:0;
	margin:10px;
	margin-bottom:0;
}

.contact-container .zf-tempFrmWrapper {
	padding:10px 15px;
	margin:1px 0;
}

.contact-container .zf-tempFrmWrapper .zf-tempContDiv {
	margin:0;
	padding:0;
}

.contact-container .zf-tempFrmWrapper .zf-labelName {
	font-weight:bold;
	font-size:16px;
	color: black;
	text-align: left !important;
	text-rendering: optimizeLegibility;
}

.contact-container .zf-form-sBox{ 
	padding:4px; 
	border:1px solid #e5e5e5; 
	font-size:16px;
	}

.contact-container .zf-name .zf-tempContDiv span, .contact-container .zf-phone .zf-tempContDiv span, .contact-container .zf-time .zf-tempContDiv span{
	float: left;
	display:block;
}

.contact-container .zf-name .zf-tempContDiv span{margin-bottom:5px; margin-left: 4%;}
.contact-container .zf-name .zf-tempContDiv span.last{ margin-right:0;}
.contact-container .zf-name .zf-tempContDiv span label{ display: block;padding-top:3px;text-align: left !important;}
.contact-container .zf-name .zf-tempContDiv input[type="text"] {width:100%;}


.contact-container .zf-phone .zf-tempContDiv span label, .contact-container .zf-date .zf-tempContDiv span label, .contact-container .zf-time .zf-tempContDiv span label, .contact-container .zf-address .zf-tempContDiv span label, .contact-container .zf-geolocation .zf-tempContDiv span label, .contact-container .zf-name .zf-tempContDiv span label{ 
	font-size:13px; 
	padding-top:3px;
	}
.contact-container .zf-phone .zf-tempContDiv label, .contact-container .zf-date .zf-tempContDiv label, .contact-container .zf-time .zf-tempContDiv label, .contact-container .zf-address .zf-tempContDiv label, .contact-container .zf-name .zf-tempContDiv span label {
	color:#888888;
	}
.contact-container .zf-phone .zf-tempContDiv span label {
	display: block;
	padding-top:3px;
	text-align:center;
}
.contact-container .zf-phone .zf-tempContDiv .zf-symbols {
	padding-top:5px;
}


.contact-container .zf-currency .zf-tempContDiv span{ 
	display:inline-block;
	}
.contact-container .zf-currency .zf-tempContDiv span label {
	display: block;
	padding-top:3px;
	}
.contact-container .zf-currency .zf-tempContDiv .zf-symbol {
	font-size: 16px;
    margin-left:5px;
    margin-top: 4px;
	width:auto;
	font-weight:bold;
	}

.contact-container .zf-decesion .zf-tempContDiv{ 
	width:100% !important; 
	margin-top:4px;
	}
.contact-container .zf-decesion input[type="checkbox"] {
    display: block;
    height: 13px;
    margin: 0;
    padding: 0;
    width: 13px;
	float:left;
	margin-top:4px;
}
.contact-container .zf-decesion label {
    display: block;
    line-height:21px;
    margin: 0px 0 0 25px !important;
    padding-bottom: 0 !important;
	width:95% !important;
	float:none !important;
	line-height:21px !important;
	text-align: left !important;
} 

.contact-container .zf-tempContDiv input[type="file"]{
	outline:none;
	border:1px solid #ccc;
	margin:0 auto;
	padding:5px;
	width:auto;
}


.contact-container .zf-address .zf-tempContDiv span, .contact-container .zf-geolocation .zf-tempContDiv span {
	display:block;
	padding-bottom:15px;
	margin-right:2%;
	}
	
.contact-container .zf-address .zf-tempContDiv span label, .contact-container .zf-geolocation .zf-tempContDiv span label{
	display: block;
	padding-top:3px;
	}	
	
.contact-container .zf-address .zf-tempContDiv .zf-addOne, .contact-container .zf-geolocation .zf-tempContDiv .zf-addOne{
	float: none;
	padding-bottom:15px;
	margin-right:0;
	}

.contact-container .zf-address .zf-tempContDiv .zf-addOne input, .contact-container .zf-geolocation .zf-tempContDiv .zf-addOne input{
	width:98%;
	}
.contact-container .zf-address .zf-tempContDiv span.zf-addtwo, .contact-container .zf-geolocation .zf-tempContDiv span.zf-addtwo{
	width:48%;
	}
.contact-container .zf-address .zf-tempContDiv span.zf-addtwo input, .contact-container .zf-geolocation .zf-tempContDiv span.zf-addtwo input{
	width:99%;
	}	
.contact-container .zf-address .zf-tempContDiv span.zf-addtwo .zf-form-sBox{
	width:100%;
	}
	
.contact-container .zf-signContainer{ 
	margin:0; 
	padding:0; 
	width:100%;
	}
.contact-container .zf-signContainer canvas{ 
	cursor:crosshair;
	border:1px solid #ccc; 
	background:#fff;
	}
.contact-container .zf-signContainer a{
    font-size: 13px;
    text-decoration: underline;
    display: block;
	}	
	
.contact-container .zf-section h2{
	border-bottom:1px solid #D7D7D7;
	font-size:22px; 
	color:#000; 
	font-weight:500; 
	font-family: 'Bentham', Georgia, 'Times New Roman', serif;
	padding-bottom:10px;
	}
.contact-container .zf-section p{ 
	color:#847F7F; 
	margin-top:10px;
	}
	
.contact-container .zf-note .zf-labelName{	
	padding-top:7px;
	}
.contact-container .zf-templateWrapper .zf-note{ 
	overflow:hidden;
	}

.contact-container .zf-date .zf-tempContDiv span label {
	display: block;
	padding-top:3px;
	text-align: left !important;
}

.contact-container .zf-subDate{ margin-right:10px;}
.contact-container .zf-subDate label{ text-align: left !important;}

.contact-container .zf-time .zf-tempContDiv span label {
	display: block;
	padding-top:3px;
	text-align:center;
}

.contact-container .zf-time .zf-tempContDiv .zf-form-sBox{
	min-width:58px;
}

.contact-container .zf-time .zf-tempContDiv .zf-symbols {
	padding-top:5px;
}

.contact-container .zf-tempContDiv input[type="checkbox"], .contact-container .zf-tempContDiv input[type="radio"] {
	display: block;
	height: 13px;
	margin: 4px 0 0;
	padding: 0;
	width: 13px;
}

.contact-container .zf-radio .zf-overflow, .contact-container .zf-checkbox .zf-overflow{padding-left:2px !important;}

.contact-container .zf-sideBySide .zf-tempContDiv span {
	margin: 0 15px 5px 0;
	padding:0;
	width:auto;
	float: left;
	display:block;
}
.contact-container .zf-sideBySide .zf-tempContDiv span input[type="checkbox"] {
	display: block;
	width: 13px;
	height: 13px;
	padding: 0;
	margin-top:3px;
	float:left;
}
.contact-container .zf-sideBySide .zf-tempContDiv span input[type="radio"] {
	display: block;
	width: 13px;
	height: 13px;
	margin-top:4px;
	padding: 0;
	float:left;
}
.contact-container .zf-sideBySide .zf-tempContDiv span label {
	line-height:21px;
	display: block;
	margin: 0 0 0 20px;
	padding: 0 0 5px;
}
		

.contact-container .zf-oneColumns .zf-tempContDiv span {
	margin:0 0 13px 0;
	padding:0;
	width:100%;
	display:block;
	clear: both;
}
.contact-container .zf-oneColumns .zf-tempContDiv span:last-child { margin-bottom:0;}

.contact-container .zf-oneColumns .zf-tempContDiv span input[type="checkbox"] {
	display: block;
	width: 13px;
	height: 13px;
	margin:0;
	padding: 0;
	margin-top:3px;
	float:left;
}
.contact-container .zf-oneColumns .zf-tempContDiv span input[type="radio"] {
	display: block;
	width: 13px;
	height: 13px;
	margin-top:4px;
	padding: 0;
	float:left;
}
.contact-container .zf-oneColumns .zf-tempContDiv span label {
	line-height:19px;
	display: block;
	margin: 0 0 0 20px;
	padding:0;
	font-size:16px;
}
.contact-container .zf-twoColumns .zf-tempContDiv span {
	margin: 0 5px 13px 0;
	width: 48%;
	float: left;
	display:block;
}
.contact-container .zf-twoColumns .zf-tempContDiv span input[type="checkbox"] {
	display: block;
	width: 13px;
	height: 13px;
	margin: 0;
	padding: 0;
	margin-top:3px;
	float:left;
}
.contact-container .zf-twoColumns .zf-tempContDiv span input[type="radio"] {
	display: block;
	width: 13px;
	height: 13px;
	margin-top:4px;
	padding: 0;
	float:left;
}
.contact-container .zf-twoColumns .zf-tempContDiv span label {
	line-height:21px;
	display: block;
	margin: 0 0 0 20px;
	padding: 0 0 5px;
}
.contact-container .zf-threeColumns .zf-tempContDiv span {
	margin: 0 5px 13px 0;
	width:30%;
	float: left;
}
.contact-container .zf-threeColumns .zf-tempContDiv span input[type="checkbox"] {
	display:block;
	width: 13px;
	height: 13px;
	padding: 0;
	margin-top:3px;
	float:left;
}
.contact-container .zf-threeColumns .zf-tempContDiv span input[type="radio"] {
	display:block;
	width: 13px;
	height: 13px;
	margin-top:4px;
	padding: 0;
	float:left;
}
.contact-container .zf-threeColumns .zf-tempContDiv span label {
	line-height:21px;
	display: block;
	margin: 0 0 0 20px;
	padding: 0 0 5px;
}

.contact-container .zf-mSelect select{ font-size:16px;}	

.contact-container .zf-fmFooter {
	margin:0;
	padding:25px;
	text-align:center;
}

.contact-container .zf-fmFooter .zf-submitColor{ font-size:16px; padding:4px 10px;}

.contact-container .zf-submitColor{
	color: white;
	background: rgb(128,0,0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f9eec', endColorstr='#1988d6');
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	font-family: 'Bentham', Georgia, 'Times New Roman', serif;
	padding: 5px;
	}
	
.contact-container .zf-submitColor:hover{
	background: rgb(179,0,0);
	}	   	

/****************Field Small/Medium/Large Starts Here****************/

.contact-container .zf-small .zf-tempContDiv input[type="text"], .contact-container .zf-small .zf-tempContDiv textarea, .contact-container .zf-small .zf-mSelect select, .contact-container .zf-small .zf-tempContDiv .zf-sliderCont, .contact-container .zf-small .zf-tempContDiv .zf-pdfTextArea, .contact-container .zf-small .zf-signContainer{
	width:50%;
	}
.contact-container .zf-medium .zf-tempContDiv input[type="text"], .contact-container .zf-medium .zf-tempContDiv textarea, .contact-container .zf-medium .zf-mSelect select, .contact-container .zf-medium .zf-tempContDiv .zf-sliderCont, .contact-container .zf-medium .zf-tempContDiv .zf-pdfTextArea, .contact-container .zf-medium .zf-signContainer{
	width:75%;
	}
.contact-container .zf-large .zf-tempContDiv input[type="text"], .contact-container .zf-large .zf-tempContDiv textarea, .contact-container .zf-large .zf-mSelect select, .contact-container .zf-large .zf-tempContDiv .zf-sliderCont, .contact-container .zf-large .zf-tempContDiv .zf-pdfTextArea, .contact-container .zf-large .zf-signContainer{
	width:100%;
	}
		        .contact-container .signContainer canvas{
            width:100%;
        }
	
	
.contact-container .zf-small .zf-tempContDiv .zf-form-sBox{
	width:50%;
	}
.contact-container .zf-medium .zf-tempContDiv .zf-form-sBox{
	width:75%;
	}
.contact-container .zf-large .zf-tempContDiv .zf-form-sBox{
	width:100%;
	}


.contact-container .zf-name .zf-tempContDiv .zf-form-sBox{
	width:100%;
	}

.contact-container .zf-namesmall .zf-nameWrapper{ width: 50%;}
.contact-container .zf-namesmall .zf-tempContDiv span{width:48%;}
 
.contact-container .zf-namesmall .zf-oneType .zf-salutationWrapper span{width:63%; }
.contact-container .zf-namesmall .zf-oneType .zf-salutationWrapper .zf-salutation{ width: 33%;}

.contact-container .zf-namesmall .zf-twoType .zf-salutationWrapper span{width:34%;margin-left:3%;}
.contact-container .zf-namesmall .zf-twoType .zf-salutationWrapper .zf-salutation{ width:26%;}

.contact-container .zf-namesmall .zf-threeType .zf-nameWrapper span{width:32%; margin-left:2%;}

.contact-container .zf-namesmall .zf-threeType .zf-salutationWrapper span{ width:100%;margin-left: 0px; float:none; margin-left: 0;}
.contact-container .zf-namesmall .zf-threeType .zf-salutationWrapper .zf-salutation{ width:50%;}


.contact-container .zf-namesmall .zf-tempContDiv span:first-child{ margin-left:0;}

.contact-container .zf-leftAlign .zf-namesmall .zf-threeType .zf-salutationWrapper span, .contact-container .zf-rightAlign .zf-namesmall	.zf-threeType .zf-salutationWrapper span{ width:100%;margin-left: 0px; float:none; margin-left: 0;}
.contact-container .zf-leftAlign .zf-namesmall .zf-threeType .zf-salutationWrapper .zf-salutation, .contact-container .zf-rightAlign .zf-namesmall .zf-threeType .zf-salutationWrapper .zf-salutation{ width: 50%; }




.contact-container .zf-namemedium .zf-nameWrapper{ width: 75%;}

.contact-container .zf-namemedium .zf-tempContDiv span{width:49%; margin-left:2%;}


    
.contact-container .zf-namemedium .zf-oneType .zf-salutationWrapper span{width:73%; }
.contact-container .zf-namemedium .zf-oneType .zf-salutationWrapper .zf-salutation{ width: 25%;}

.contact-container .zf-namemedium .zf-twoType .zf-salutationWrapper span{width:38%;margin-left:2%;}
.contact-container .zf-namemedium .zf-twoType .zf-salutationWrapper .zf-salutation{ width:20%;}


.contact-container .zf-namemedium .zf-threeType .zf-nameWrapper span{width:32%; margin-left:2%;}


.contact-container .zf-namemedium .zf-threeType .zf-salutationWrapper span{width:25%;margin-left:2%;}

.contact-container .zf-namemedium .zf-threeType .zf-salutationWrapper .zf-salutation{ width:19%;}

.contact-container .zf-namemedium .zf-tempContDiv span:first-child{ margin-left:0;}

.contact-container .zf-namelarge .zf-tempContDiv span{width:23.5%; margin-left:2%; margin-right: 0; margin-bottom: 0;}
.contact-container .zf-namelarge .zf-twoType .zf-nameWrapper span{width:49%; margin-left:2%;}
.contact-container .zf-namelarge .zf-threeType .zf-nameWrapper span{width:32%; margin-left:2%;}


.contact-container .zf-namelarge .zf-twoType .zf-salutationWrapper span{width:40%; margin-left:2%;}
.contact-container .zf-namelarge .zf-twoType .zf-salutationWrapper .zf-salutation{ width: 16%;}

.contact-container .zf-namelarge .zf-threeType .zf-salutationWrapper span{width:26%; margin-left:2%;}
.contact-container .zf-namelarge .zf-threeType .zf-salutationWrapper .zf-salutation{ width: 16%;}

.contact-container .zf-namelarge .zf-oneType .zf-salutationWrapper span{width:73%; margin-left:2%;}
.contact-container .zf-namelarge .zf-oneType .zf-salutationWrapper .zf-salutation{ width:25%;}

.contact-container .zf-namelarge .zf-tempContDiv span:first-child { margin-left:0 !important;}



.contact-container .zf-csmall	 .zf-tempContDiv input[type="text"] {
	width:43%;
	}
.contact-container .zf-cmedium .zf-tempContDiv input[type="text"] {
	width:67%;
	}
.contact-container .zf-clarge	 .zf-tempContDiv input[type="text"] {
	width:91%;
	} 	

.contact-container .zf-nsmall .zf-tempContDiv input[type="text"] {	
	width:50%;	
	}
.contact-container .zf-nmedium .zf-tempContDiv input[type="text"] {
	width:75%;
	}
.contact-container .zf-nlarge .zf-tempContDiv input[type="text"] {
	width:100%;
	}

.contact-container .zf-signSmall .zf-tempContDiv .zf-signContainer .zf-signArea {	
	width:49%;
	}
.contact-container .zf-signMedium .zf-tempContDiv .zf-signContainer .zf-signArea {
	width:60%;
	}
.contact-container .zf-signLarge .zf-tempContDiv .zf-signContainer .zf-signArea {	
	width:74%;
	}	

.contact-container .zf-addrsmall .zf-tempContDiv .zf-addrCont{ 
	width:50%;
	}
.contact-container .zf-addrmedium .zf-tempContDiv .zf-addrCont{ 
	width:75%;
	}
.contact-container .zf-addrlarge .zf-tempContDiv .zf-addrCont{ 
	width:100%;
	}	
	
	
/****************Field Small/Medium/Large Ends Here****************/	

.contact-container .zf-topAlign .zf-tempFrmWrapper .zf-labelName {
	padding-bottom:8px;
	display:block;
}

.contact-container .zf-topAlign .zf-threeColumns .zf-labelName, .contact-container .zf-topAlign .zf-twoColumns .zf-labelName, .contact-container .zf-topAlign .zf-oneColumns .zf-labelName, .contact-container .zf-topAlign .zf-sideBySide .zf-labelName{ padding-bottom:8px;}

.contact-container .zf-leftAlign {
	display:block;
}
.contact-container .zf-leftAlign .zf-tempFrmWrapper .zf-labelName {
	float:left !important;
	width:30%;
	line-height:20px;
	margin-right:15px;
	text-align: left !important;
}
.contact-container .zf-leftAlign .zf-tempFrmWrapper .zf-tempContDiv {
	 margin-left: 35%;
}

.contact-container .zf-leftAlign .zf-slider .zf-tempContDiv{ margin-top:6px;}

.contact-container .zf-leftAlign .zf-decesion .zf-tempContDiv, .contact-container .zf-rightAlign .zf-decesion .zf-tempContDiv{ margin-left:0 !important;}

.contact-container .zf-rightAlign {
	display:block;
}
.contact-container .zf-rightAlign .zf-tempFrmWrapper .zf-labelName {
	float:left !important;
	width:30%;
	line-height: 20px;
	text-align:right;
	margin-right:15px;
}
.contact-container .zf-rightAlign .zf-tempFrmWrapper .zf-tempContDiv {
	 margin-left: 35%;
}
.contact-container .zf-matrixTable{ font-size:16px; overflow-x: scroll;padding-bottom: 15px !important;}
.contact-container .zf-matrixTable table th, .zf-matrixTable table td{padding:10px;}
.contact-container .zf-matrixTable thead th, .zf-matrixTable table td{ text-align:center;}
.contact-container .zf-matrixTable table td input[type="radio"], .zf-matrixTable table td input[type="checkbox"]{ display:inline-block;}
.contact-container .zf-matrixTable tbody th{ font-weight:normal;font-size: 16px;text-align: left !important;}
.contact-container .zf-matrixTable thead th { font-weight:600;font-size: 16px;}

/****************Form Top Align Starts Here****************/	

.contact-container .zf-termsContainer{ margin:0; padding:0;}
.contact-container .zf-termsContainer .zf-termsMsg {border: 1px solid #E1E1E1;max-height: 250px; min-height:70px; overflow-y:scroll; padding:10px;  margin-bottom:6px;}
.contact-container .zf-termsContainer .zf-termScrollRemove {border: 1px solid #E1E1E1;padding:10px;  margin-bottom:6px;}
.contact-container .zf-termsAccept{ margin-top:2px !important;}
.contact-container .zf-termsAccept input[type="checkbox"]{ margin-top:2px !important; float:left;}
.contact-container .zf-termsAccept label{ margin-left: 20px;font-size: 16px;float: none;display: block;}

.contact-container .zf-termsWrapper .zf-tempContDiv{ margin-left:0 !important;}
.contact-container .zf-termsWrapper .zf-labelName{ width:100% !important; text-align:left !important; padding-bottom:8px !important;}


.contact-container .zf-medium .zf-phwrapper {
    width: 75%;
}
.contact-container .zf-phwrapper.zf-phNumber span {
	width: 100% !important;
}
.contact-container .zf-phwrapper span:first-child {
    margin-left: 0;
    width: 22%;
}
.contact-container .zf-phwrapper label {
    display: block;
    color: #888888;
    font-size: 14px;
    margin-top: 2px;
}
.contact-container .zf-medium .zf-phonefld input[type="text"], .contact-container .zf-small .zf-phonefld input[type="text"] {
    width: 100%;
}
.contact-container .zf-small .zf-phwrapper {
    width: 50%;
}
.contact-container .zf-tempFrmWrapper.zf-phone span {
	width: auto;
	margin: inherit;
}
.contact-container .zf-phwrapper span {
    margin-bottom: 10px;
    float: left;
    width: 76%;
    margin-left: 2%;
}
.contact-container .zf-descFld a{ text-decoration:underline;}
.contact-container .zf-descFld em{ font-style:italic;}
.contact-container .zf-descFld b{ font-weight:bold;}
.contact-container .zf-descFld i{ font-style: italic;}
.contact-container .zf-descFld u{ text-decoration:underline;}
.contact-container .zf-descFld ul{ margin:auto;}
.contact-container .zf-descFld ul{ list-style:disc;}
.contact-container .zf-descFld ol{ list-style:decimal;}
.contact-container .zf-descFld ul, .contact-container .zf-descFld ol{margin: 10px 0;
    padding-left: 20px;}

.contact-container .zf-descFld  ol.code {
    list-style-position: outside;
    list-style-type: decimal;
    padding: 0 30px;
}

.contact-container .zf-descFld  ol.code li {
    background-color: #F5F5F5;
    border-left: 2px solid #CCCCCC;
    margin: 1px 0;
    padding: 2px;
}

.contact-container .zf-descFld  blockquote.zquote {
    border-left: 3px solid #EFEFEF;
    padding-left: 35px;
}
.contact-container .zf-descFld  blockquote.zquote span.txt {
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none;
    color: #058BC2;
    float: left;
    font: bold 50px 'Bentham',
		Georgia,
		'Times New Roman',
		serif;
    margin: -10px 0 0 -30px;
}
.contact-container .zf-descFld  blockquote.block_quote {
    background: url("../images/newQuote.gif") no-repeat scroll 12px 10px rgba(0, 0, 0, 0);
    border-left: 3px solid #EFEFEF;
    font: 13px/20px 'Bentham',
		Georgia,
		'Times New Roman',
		serif;
    margin: 15px 3px 15px 15px;
    padding: 10px 10px 10px 40px;
}
.contact-container .zf-descFld  body {
	font-family: 'Bentham', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    margin: 8px;
}
.contact-container .note .noteCont{ overflow:hidden;}
.contact-container .note .zf-descFld{
	overflow:hidden;
	font-size: 16px;
}
