<header>
    <div class="logo-container">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/images/global/RL-logo.webp' | relative_url }}" alt="Redwood Lane Logo" class="logo" width="50" height="50">      
        </a>
        <h2>Redwood Lane</h2>
    </div>
    <nav>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <ul class="nav-links">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/search/' | relative_url }}">Search</a></li>
        </ul>
    </nav>
</header>