<div class="container">
    <h1>Search Redwood Lane</h1>

    <p style="max-width: 600px; margin: 0 auto 20px; font-size: 18px;">
        Use the search below to find blog posts, resources, and pages across the Redwood Lane website. Please note: Some ads
        may appear in the results and may link to other websites. If you use an ad blocker, you probably won't see them though.
    </p>

    <div class="search-container">
        <script async src="https://cse.google.com/cse.js?cx=a441af8f248924469">
        </script>
        <div class="gcse-search"></div>
    </div>
</div>
