<header>
    <div class="logo-container">
        <a href="/">
            <img src="/images/global/RL-logo.webp" alt="Redwood Lane Logo" class="logo" width="50" height="50">
        </a>
        <h2>Redwood Lane</h2>
    </div>
    <nav>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
</header>