<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Redwood Lane</title>
    <meta name="description"
        content="Redwood Lane provides expert Salesforce consulting, specializing in administration, integrations, automation, and custom development to optimize business performance.">
    <meta name="keywords"
        content="Salesforce consulting, Salesforce administration, CRM optimization, automation, Salesforce integrations, reporting, business processes, Salesforce Development, LWC, Visualforce, Apex">
    <meta name="author" content="Redwood Lane">
    <meta property="og:title" content="Redwood Lane: Salesforce Consulting">
    <meta property="og:description"
        content="Expert Salesforce consulting for administration, automation, integrations, and custom development.">
    <meta property="og:image" content="https://redwoodlane.net/images/global/RL-Sharing.webp">
    <meta property="og:url" content="https://redwoodlane.net">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Redwood Lane: Salesforce Consulting">
    <meta name="twitter:description"
        content="Expert Salesforce consulting for administration, automation, integrations, and custom development.">
    <meta name="twitter:image" content="https://redwoodlane.net/images/global/RL-Sharing.webp">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/global/favicon.ico" type="image/x-icon">
    <script src="/js/cookie-banner.js" defer></script>
</head>
<body>
    {% include cookie-banner.html %}
    {% include header.html %}
    <main>
        {{ content }}
    </main>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>